* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 2.5em;
}
hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

#header-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 20px;
}

#header-list li {
    display: flex;
    cursor: pointer;
    width: 100px; 
    justify-content: center;
    padding: 10px;
    transition: background-color 0.3s, border-bottom 0.3s;
}

#header-list li:hover {
    border-bottom: 1px solid black;
    background-color: rgb(204, 197, 197);
    border-radius: 5px 5px 0 0;
}

h2 {
    margin-bottom: 15px;
    color: #555;
    font-size: 1.8em;
}

.label-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.label-input label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
    font-size: 1em;
}

.label-input input[type="text"],
.label-input select,
.label-input textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.label-input textarea {
    resize: vertical;
    min-height: 100px;
}

.label-input input[type="text"]:focus,
.label-input select:focus,
.label-input textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

@media (max-width: 600px) {
    #header-list {
        flex-direction: column;
        align-items: flex-start;
    }

    #header-list li {
        width: auto;
        align-self: stretch;
    }

    .container {
        padding: 20px;
    }
}
